<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="MyTestSuite">
            <directory>tests/Admin</directory>
            <directory>tests/Users</directory>
        </testsuite>
    </testsuites>
<phpunit>
  <testsuites>
    <testsuite name="Test suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
